@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #0b0b0b;
  --supreme-red: #e10600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background: var(--supreme-red);
  color: #fff;
}
